<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>
    <section class="container">
        <form action="{{ url_for('login') }}" method="post">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required class="form-input"><br>

            <input type="submit" value="Login" class="form-btn">
        </form>
    </section>
    <footer>
        <p>&copy; 2024 Kyrollos Z. Soliman - Supervision: Dr. Hossam Sahara</p>
    </footer>
</body>
</html>
